# Setup

In [1]:
from urllib.error import HTTPError

from pyrosm import OSM
import shapely

from utils import *

In [ ]:
states = disp(pd.read_parquet('data/geometry/states.parquet', columns=['code', 'name']))

49 rows x 2 cols; Memory: 0.0 MiB

       code      name
   <object>  <object>
0        AL   Alabama

In [3]:
zones = disp(gpd.read_parquet('data/geometry/zones.parquet'))

143,971 rows x 10 cols; Memory: 12.7 MiB; <Geographic 2D CRS: EPSG:4326>

,geoid,level,county,ua_code,city,aland,awater,popu,labor,geometry
,<object>,<category>,<category>,<category>,<category>,<float32>,<float32>,<int32>,<int32>,<geometry>
0,42007,County,Beaver,69697,Pittsburgh,434.692993,9.329071,164781,84153,"POLYGON ((-80.518963 40.733741, -80.518965 40...."

# Job counts

Download LODES data (https://lehd.ces.census.gov/data) for states which contain at least one CBG of the 50 largest cities.

Download the job count data for 2021 using the Workplace Area Characteristics (WAC) table of the LODES v8 dataset. For Arizona (AR) and Mississippi (MS), the latest data is available for 2018 (for which the dataset version is v7).

To compare results with Access Across America, also download the job count data for 2020.

In [4]:
def download_lodes(year, states=states):
    jobs = []
    for _, r in tqdm(states.iterrows(), total=len(states)):
        cols = D(w_geocode='geoid', C000='All', CE01='Low wage', CR01='White',
            CD01='< high school', CD02='high school')
        url = ('https://lehd.ces.census.gov/data/lodes/' + 
               'LODES8/{0}/wac/{0}_wac_S000_JT00_{1}.csv.gz'
               .format(r.code.lower(), year))
        if r.code == 'MI' and year == 2022:
            url = url.replace('2022', '2021')
        try:
            df = pd.read_csv(url, usecols=list(cols)).rename(columns=cols)
        except HTTPError:
            print(f'URL not available for {r["name"]}')
            continue
        df['Low edu'] = df.pop('< high school') + df.pop('high school')
        df['POC'] = df['All'] - df.pop('White')
        df.geoid = df.geoid.astype(str).str.zfill(15)
        df2 = df.melt('geoid', var_name='kind', value_name='njobs')
        jobs.append(df2.query('njobs > 0').assign(level='Block'))
        for level, nchar in [('Block', 15), ('BG', 12),
                             ('Tract', 11), ('County', 5)]:
            df2 = df.assign(geoid=df.geoid.str[:nchar])
            df2 = df2.groupby('geoid').sum().reset_index()
            df2 = df2.melt('geoid', var_name='kind', value_name='njobs')
            jobs.append(df2.query('njobs > 0').assign(level=level))
    cols = D(geoid=CAT, level=CAT, kind=CAT, njobs=I32)
    jobs = pd.concat(jobs).reset_index(drop=1).astype(cols)[list(cols)]
    jobs.to_parquet(f'data/opport/jobs_{year}.parquet')
    return jobs

# jobs20 = disp(download_lodes(2020)) # 1m25s
# jobs22 = disp(download_lodes(2022)) # 1m25s
jobs22 = disp(pd.read_parquet(
    'data/opport/jobs_2022.parquet',
    filters=[('level', '!=', 'Block')])) # 9s

1,264,563 rows x 4 cols; Memory: 232.3 MiB

          geoid       level        kind    njobs
     <category>  <category>  <category>  <int32>
0  010010201001          BG         All      145

# POIs
Process the Points of Interest (POI) data from OpenStreetMap (OSM) Protocol Buffer Files (PBFs) downloaded on November 23, 2023.

## OSM tags
The [OSM website](https://wiki.openstreetmap.org/wiki/Tags) provides a detailed description of commonly used tags such as `amenity=music_school` or `landuse=farmland`. The traditional method of filtering POIs from this large pool of features using tag information is to specify a list of acceptable tags for POIs, such as the Python library `pyrosm`, which by default uses the tags [amenity, shop, tourism] to filter POIs. However, it should be noted that these OSM tags lack a well-defined typology to identify POIs for which citizens would commonly need access to. By contrast, the [North American Industry Classification System (**NAICS**)](https://www.census.gov/naics) provides an excellent classification system for businesses that can be used to identify POIs of interest. This is also done by POI data vendors such as SafeGraph Inc. or Quadrant.io where POIs include NAICS codes as attributes.

To better align our dataset with such proprietary datasets, we used a mapping between the OSM tags and NAICS codes to only filter relevant POI classes. This mapping table was obtained from [wiki.openstreetmap.org/wiki/NAICS/2022](wiki.openstreetmap.org/wiki/NAICS/2022). Since we are interested only in places where accessibility to retail/direct products/services are available, we only consider a subset of OSM tags in our dataset, including `[amenity, clothes, craft, fast_food, healthcare, second_hand, shop, social_facility]`.

In [4]:
allowed_osm_tags = ['amenity', 'clothes', 'craft', 'fast_food', 'healthcare',
                    'second_hand', 'shop', 'social_facility:for', 'social_facility']

Further, we also define a set of "essential" POIs for special considerations of accessibility measurement:

In [5]:
special_poi_tags = disp(Pdf([(col, tag, value) for col, tag_values in {
    'Groceries': { # grocery and food stores
        'shop': ['convenience', 'department_store', 'greengrocer', 'grocery', 'health_food', 'supermarket']
    },
    'Education': { # educational facilities
        'amenity': ['college', 'dance_school', 'kindergarten', 'language_school', 'music_school', 'preschool', 'school', 'university']
    },
    'Medical': { # medical amenities
        'amenity': ['childcare', 'dentist', 'doctors', 'hospital'],
        'healthcare': ['audiologist', 'blood_bank', 'blood_donation', 'dentist', 'doctor', 'hospital', 'laboratory', 'occupational_therapist', 'physiotherapist', 'podiatrist', 'psychotherapist', 'speech_therapist'],
        'healthcare:speciality': ['chiropractic']
    },
    'Social Support': { # social support facilities
        'social_facility': ['ambulatory_care', 'assisted_living', 'dairy_kitchen', 'food_bank', 'group_home', 'nursing_home', 'outreach', 'shelter', 'soup_kitchen'],
        'social_facility:for': ['drug_addicted']
    }
}.items() for tag, values in tag_values.items() for value in values],
                       columns=['col', 'tag', 'value']))

41 rows x 3 cols; Memory: 0.0 MiB

         col       tag        value
    <object>  <object>     <object>
0  Groceries      shop  convenience

In [6]:
osm_tags = (
    pd.read_csv('data/opport/osm_poi_tags_values.csv')
    .rename(columns=str.lower)
    .dropna(subset='osm')
    .assign(osm_tags=lambda df: df.osm.str.split('OR'))
    .explode('osm_tags')
    .assign(osm_tags=lambda df: df.osm_tags.str.strip().str.split('=')))
osm_tags['tag'], osm_tags['value'] = list(zip(*osm_tags.osm_tags))
osm_tags = (osm_tags[osm_tags.tag.isin(allowed_osm_tags)]
             .merge(special_poi_tags, 'left')
             ['naics description col tag value'.split()])
for col in set(osm_tags.col) - {np.nan}:
    osm_tags[col] = osm_tags.col.eq(col).fillna(False)
osm_tags = disp(osm_tags.drop(columns='col'))

260 rows x 8 cols; Memory: 0.1 MiB

,naics,description,tag,value,Groceries,Medical,Education,Social Support
,<object>,<object>,<object>,<object>,<bool>,<bool>,<bool>,<bool>
0,11291,Apiculture,craft,beekeeper,False,False,False,False

## POI counts
POI counts by category and by zone

In [7]:
def get_pois_by_zone(city, zones=zones, osm_tags=osm_tags):
    city_ = city.lower().replace(' ', '-').replace('.', '')
    osm = OSM(f'data/osm/city/{city_}.osm.pbf')
    df = osm.get_pois(custom_filter={t: True for t in set(osm_tags.tag)})
    # df = pois.copy()
    df.geometry = df.to_crs(CRS_M).centroid
    bgs = filt(zones, city=city, level='BG')[['geoid', 'geometry']]
    df = df.set_index('id').to_crs(bgs.crs).sjoin(bgs)
    tag_cols = [c for c in df.columns if c in set(osm_tags.tag)]
    df = df[['geoid'] + tag_cols].reset_index()
    total_pois = df.groupby('geoid').size().rename('All')
    df = df.melt(['id', 'geoid'], var_name='tag').dropna()
    df = df.merge(osm_tags, on=['tag', 'value'])
    special_cols = ['Groceries', 'Education', 'Medical', 'Social Support']
    df = df.groupby('geoid')[special_cols].sum()
    df = pd.concat([total_pois, df], axis=1).fillna(0).astype(I32)
    df = df.reset_index().melt('geoid', var_name='kind', value_name='npois')
    poi_counts = [df.assign(level='BG')]
    for level, nchar in D(Tract=11, County=5).items():
        poi_counts.append(df.assign(geoid=df.geoid.str[:nchar])
                          .groupby(['geoid', 'kind']).npois.sum()
                          .reset_index().assign(level=level))
    poi_counts = (pd.concat(poi_counts).sort_values(['level', 'geoid'])
                  .reset_index(drop=1)[['geoid', 'level', 'kind', 'npois']]
                  .astype(D(geoid=CAT, level=CAT, kind=CAT, npois=I32)))
    return poi_counts

# pois = get_pois_by_zone('Buffalo'); pois

In [8]:
# osm_pois = []
# for city in (pbar := tqdm(sorted(set(zones.city)))):
#     pbar.set_description(city)
#     osm_pois.append(get_pois_by_zone(city))
# osm_pois = pd.concat(osm_pois).astype(D(geoid=CAT)).reset_index(drop=1)
# disp(osm_pois).to_parquet('data/opport/pois_osm.parquet') # 1h2m
osm_pois = disp(pd.read_parquet('data/opport/pois_osm.parquet'))

639,195 rows x 4 cols; Memory: 17.5 MiB

          geoid       level        kind    npois
     <category>  <category>  <category>  <int32>
0  130131801033          BG         All       11

In [9]:
filt(osm_pois, level='BG').groupby('kind', observed=1).npois.sum().to_frame().T

kind       All  Education  Groceries  Medical  Social Support
npois  1894984      59381     107434    19542            4914

In [11]:
# pd.concat([
#     filt(osm_pois, level='BG').groupby('kind', observed=1).npois.sum().rename('OSM'),
#     sg_pois.merge(filt(zones, level='BG')['geoid']).groupby('kind', observed=1).npois.sum().rename('SafeGraph')
# ], axis=1).assign(Δ=lambda df: df.SafeGraph - df.OSM, pct_Δ=lambda df: df.Δ/df.SafeGraph * 100)

## EV Charging Infrastructure (EVCI)
Data downloaded on Feb 7, 2025 from the [Alternate Fuel Data Center website](https://afdc.energy.gov/fuels/electricity-locations#/analyze?country=US).

In [12]:
cols = {'Latitude': 'lat', 'Longitude': 'lon', 'Open Date': 'open_date',
        'EV Level2 EVSE Num': 'l2', 'EV DC Fast Count': 'fdc'}
evci = (pd.read_csv('data/opport/alt_fuel_stations.csv',
                    usecols=list(cols)).rename(columns=cols)
        .query('(open_date <= "2024-12-31")'))
evci = disp(
    pdf2gdf(evci.fillna(0), 'lon', 'lat', CRS_DEG)
    .sjoin(zones, predicate='within')
    .groupby(['geoid', 'level'], observed=True)
    .agg(evcs=('l2', 'count'), l2=('l2', 'sum'), fdc=('fdc', 'sum'))
    .astype(I32).reset_index()
    .rename(columns=D(evcs='Stations', l2='Level 2', fdc='Fast DC'))
    .melt(['geoid', 'level'], var_name='kind', value_name='opport')
)

84,978 rows x 4 cols; Memory: 9.9 MiB

      geoid       level      kind   opport
   <object>  <category>  <object>  <int32>
0     04013      County  Stations      958

## Combine job & POI counts

In [13]:
opport = pd.concat([
    jobs22.assign(kind='Jobs: ' + jobs22.kind.astype(str))
    .rename(columns=D(njobs='opport')),
    osm_pois.assign(kind='POIs: ' + osm_pois.kind.astype(str))
    .rename(columns=D(npois='opport')),
    evci.assign(kind='EVCI: ' + evci.kind)
]).reset_index(drop=True).astype(D(geoid=CAT, kind=CAT, opport=I32))
disp(opport).to_parquet('data/opport/opportunities.parquet')
# opport = disp(pd.read_parquet('data/opport/opportunities.parquet'))

1,988,736 rows x 4 cols; Memory: 142.0 MiB

          geoid     level        kind   opport
     <category>  <object>  <category>  <int32>
0  010010201001        BG   Jobs: All      145

In [14]:
opport[opport.kind.str[:4] != 'EVCI'].groupby('kind', observed=1).opport.sum().sort_index()

kind
Jobs: All               435419592
Jobs: Low edu           136558113
Jobs: Low wage           77543463
Jobs: POC               100459104
POIs: All                 5684952
POIs: Education            178143
POIs: Groceries            322302
POIs: Medical               58626
POIs: Social Support        14742
Name: opport, dtype: int32

## City summary statistics

In [16]:
urba = disp(pd.read_parquet('data/geometry/urban_zones.parquet'))

275,549 rows x 4 cols; Memory: 17.7 MiB

         code            name       level     geoid
   <category>      <category>  <category>  <object>
0       58600  Montgomery, AL      County     01001

In [17]:
bgs2 = disp(
    filt(zones.drop(columns='geometry'), level='BG')
    .merge(urba[['name', 'geoid']], on='geoid')
    .merge(filt(jobs22, kind='All', level='BG'), 'left')
    .merge(filt(osm_pois, kind='All', level='BG'), 'left')
    .merge(filt(evci, kind='Stations', level='BG')
           .rename(columns=D(opport='nevcs')), 'left')
    .astype(D(county=str, ua_code=str, city=str, name=str))
    .fillna(0))

106,044 rows x 12 cols; Memory: 34.5 MiB

,geoid,county,ua_code,city,aland,awater,popu,labor,name,njobs,npois,nevcs
,<object>,<object>,<object>,<object>,<float32>,<float32>,<int32>,<int32>,<object>,<float64>,<float64>,<float64>
0,280330705233,DeSoto,56116,Memphis,1.008998,0.0,3924,1832,"Memphis, TN--MS--AR",0.0,13.0,0.0

In [18]:
df = bgs2.groupby(['ua_code', 'name', 'city']).agg(D(
    geoid='count', county=set, aland='sum', awater='sum',
    popu='sum', njobs='sum', npois='sum', nevcs='sum'
)).reset_index().rename(columns=D(geoid='nBG'))
ntract = (bgs2.assign(geoid=bgs2.geoid.str[:11])
          .groupby(['city', 'geoid']).size().reset_index()
          .groupby('city').geoid.count().rename('nTract').reset_index())
df = df.merge(ntract, on='city')
df['popdens'] = df.popu / df.aland
df['nCounty'] = df.county.apply(len)
df.county = [', '.join(x) for x in df.county]
df.index = df.popu.rank(ascending=0).astype(I16).rename('rank')
for col in ['popu', 'njobs', 'npois']:
    df[col] /= 1000
df = df[df.nBG > 1].sort_index().reset_index().astype(D(nevcs=I16))
summary_stats = df['rank city nBG nTract nCounty popu aland popdens njobs npois nevcs'.split()]
summary_stats

,rank,city,nBG,nTract,nCounty,popu,aland,popdens,njobs,npois,nevcs
0,1,New York,14305,4790,24,18718.361,4442.073242,4213.879416,9129.811,237.604,2604
1,2,Los Angeles,8085,2912,4,12329.329,2039.094849,6046.471555,6127.292,80.690,5853
2,3,Chicago,6276,2143,10,8609.691,3252.777100,2646.873959,4285.828,110.545,1294
3,4,Miami,3906,1478,4,6084.318,2790.271484,2180.546959,2701.292,34.908,1380
4,5,Houston,3447,1354,7,5847.375,2657.120605,2200.643429,2810.097,47.555,738
5,6,Dallas,3446,1350,10,5742.504,2489.686279,2306.517109,3402.482,48.922,963
6,7,Philadelphia,4328,1471,12,5724.087,2798.585938,2045.349733,2817.087,51.874,914
7,8,Washington,3319,1231,13,5149.414,1742.771729,2954.726609,2730.361,76.841,1751
8,9,Atlanta,3353,1299,18,5021.762,3172.847412,1582.730383,2657.837,44.882,1482
9,10,Boston,3281,1041,8,4454.117,2327.142090,1913.985837,2581.741,59.416,2506
10,11,Phoenix,2572,931,2,4043.288,2084.615479,1939.584562,2068.363,89.878,854
11,12,Detroit,3160,1197,8,3767.318,1636.589722,2301.931847,1703.296,56.093,596
12,13,Seattle,2441,777,4,3516.114,1700.471313,2067.729089,1977.481,71.186,1535
13,14,San Francisco,2478,851,5,3501.882,911.272156,3842.849776,1982.749,52.090,2508
14,15,San Diego,1950,699,1,3157.677,1231.770630,2563.526783,1451.956,28.697,1447
15,16,Minneapolis,2394,736,9,2900.538,1440.383667,2013.725972,1694.443,46.090,737
16,17,Tampa,1841,695,3,2814.304,1368.757690,2056.100959,1382.325,24.786,459
17,18,Denver,1877,644,8,2690.645,1225.471436,2195.599932,1497.671,74.359,909
18,19,Riverside,1291,472,2,2342.991,1263.506104,1854.356693,1025.355,12.700,743
19,20,Baltimore,1622,586,3,2230.214,874.621338,2549.919495,1109.845,34.998,674
20,21,St. Louis,1651,557,6,2217.076,1634.404053,1356.504223,1204.274,33.925,305
21,22,Las Vegas,1276,515,1,2165.879,3218.016357,673.047853,1045.325,13.568,406
22,23,Portland,1430,499,5,2135.506,1003.969238,2127.063179,1141.449,47.372,727
23,24,San Antonio,1154,385,4,2023.292,1055.222778,1917.407434,939.953,12.785,265
24,25,Sacramento,1240,447,4,1919.649,880.159851,2181.023138,909.682,31.097,788
25,26,San Jose,1140,394,3,1844.311,1025.103638,1799.145893,1102.542,30.290,1765
26,27,Orlando,900,358,4,1836.668,1185.339355,1549.487066,1169.049,18.961,519
27,28,Pittsburgh,1522,591,6,1828.730,1829.853271,999.386141,977.429,24.293,491
28,29,Austin,1052,418,3,1819.382,1230.154663,1478.986387,1133.075,34.043,771
29,30,Cleveland,1482,541,7,1716.399,939.956238,1826.041395,950.141,23.141,250
30,31,Cincinnati,1255,436,7,1716.297,1234.820557,1389.916122,953.844,18.158,261
31,32,Indianapolis,1159,390,8,1705.926,1386.276611,1230.581246,1018.251,28.398,219
32,33,Kansas City,1437,494,8,1678.687,1242.265625,1351.310836,958.285,32.288,907
33,34,Columbus,1106,390,6,1578.409,929.919128,1697.361579,941.173,20.930,495
34,35,Virginia Beach,1053,394,12,1450.631,742.107849,1954.744181,613.993,20.289,165
35,36,Charlotte,786,374,5,1389.696,919.671509,1511.078670,907.702,12.916,320
36,37,Milwaukee,1161,403,6,1350.033,685.758850,1968.670182,769.546,25.343,190
37,38,Providence,958,307,7,1306.224,924.471069,1412.941998,580.226,13.855,403
38,39,Jacksonville,708,271,3,1220.375,1002.649231,1217.150487,660.766,11.595,174
39,40,Nashville,723,277,6,1166.214,1042.718506,1118.436082,842.842,10.154,368
40,41,Salt Lake City,712,252,2,1148.374,708.502075,1620.847758,757.123,22.433,416
41,42,Raleigh,611,245,7,1126.718,892.481812,1262.454860,696.589,21.413,343
42,43,Memphis,775,291,4,1101.978,982.181396,1121.969937,499.284,8.971,86
43,44,Richmond,756,287,11,1084.195,912.012451,1188.794077,627.763,14.962,245
44,45,Hartford,784,277,4,1039.029,891.448975,1165.550727,560.250,11.996,415
45,46,Oklahoma City,907,320,4,995.266,687.495056,1447.670047,523.603,10.625,184
46,47,Louisville,793,280,6,988.414,613.203613,1611.885479,600.341,1.135,140
47,48,Buffalo,850,279,2,946.623,553.454529,1710.389835,486.880,11.319,272
48,49,Bridgeport,669,231,4,941.684,529.674316,1777.854751,417.724,13.030,225
49,50,Tucson,622,238,2,904.738,1160.170044,779.832236,348.243,31.585,130

In [19]:
df2 = df[['ua_code', 'name', 'city', 'county']].copy()
df2.insert(0, 'rank', df2.index + 1)
df2 = df2.rename(columns=D(ua_code='area_code', name='area_name',
                           city='chief_city', county='constituent_counties'))
disp(df2).to_csv('data/geometry/city_ua_counties.csv', index=False)

50 rows x 5 cols; Memory: 0.0 MiB

,rank,area_code,area_name,chief_city,constituent_counties
,<int64>,<object>,<object>,<object>,<object>
0,1,63217,"New York--Jersey City--Newark, NY--NJ",New York,"Monmouth, Hudson, Nassau, Sussex, Union, Merce..."