In [1]:
from utils import *

- Index (get item):
    - Arrays
    - Dicts
    - Named dicts
    - Structs
    - Struct methods
    - Package attributes

In [ ]:
# create array
array1 = ['John', 'Amy', 'Betty', 25]
array2 = Int[1, 2, 3, 6, 10]

# index array
array1[2] # >> 'Amy' # 1-based indexing
getitem(array2, 4) # >> 6

In [ ]:
# create dict
dict1 = { 'name': 'John Doe', 'age': 25, 30: True }

In [ ]:
# # Python-style dictionaries using `:`
# myDict = {
#     'name': 'John Doe',
#     'age': 25,
#     30: True,
# }
# # access only using square brackets
# myDict['age'] # >> 25

# # JavaScript-style named dictionaries using `=`
# myObj = {
#     name = 'John Doe',
#     age = 25,
# }
# # access using brackets or name
# myObj['age'] # >> 25
# myObj.age # >> 25

# # structs
# Person = Struct(
#     name::String,
#     age::Int,
#     job::String = null
# )
# new(p::Person) = {
# }
# greet(p::Person) = print(f'Hello, {p.name}! How are you?')

# john = Person('John Doe', 25)
# greet(john) # >> 'Hello, John Doe! How are you?'
# john..greet() # >> 'Hello, John Doe! How are you?'

# GB Transit
From the paper: [Torres et al. (2024). Public transport accessibility indicators to urban and regional services in Great Britain. _Scientific Data_](https://www.nature.com/articles/s41597-023-02890-w).

## Zones

In [ ]:
# df = gpd.read_file('https://borders.ukdataservice.ac.uk/ukborders/'
#                    'easy_download/prebuilt/shape/England_lsoa_2011.zip')
# df = df.drop(columns='label').to_crs(CRS_DEG)
# df.to_parquet('data/gb_access/zones_2011.parquet', compression='gzip') # 1m17s
gb = gpd.read_parquet('data/gb_access/zones_2011.parquet').disp() # 5s

32,844 rows x 3 cols; Memory: 4.1 MiB; <Geographic 2D CRS: EPSG:4326>

,code,name,geometry
,<object>,<object>,<geometry>
0,E01000037,Barking and Dagenham 003B,"POLYGON ((0.18508 51.564799, 0.184759 51.56454..."

In [ ]:
# london = gb.clip([-1, 51.25, 0.5, 51.75])
# london.explore()

In [ ]:
df = (gb.set_index('code').to_crs(CRS_M).centroid.to_crs(CRS_DEG)
      .get_coordinates().reset_index()).disp()

32,844 rows x 3 cols; Memory: 2.3 MiB

        code          x          y
    <object>  <float64>  <float64>
0  E01000037   0.179507   51.56252

## Access & travel time data
Available at https://data.ubdc.ac.uk/datasets/public-transport-accessibility-indicators-2022

In [ ]:
# %%bash
# cd data/gb_access
# fname='open-release-ptai-2021_28062022.zip'
# wget https://data.ubdc.ac.uk/dataset/a2890594-c868-48ee-939a-af3d97303ab5/resource/fdc74d59-97d0-4f3c-b1e9-93afd98dc825/download/$fname
# unzip $fname
# rm $fname
# mv pt_accessibility_gb/output/* .
# rm -r pt_accessibility_gb # 25s

In [ ]:
# ttm = pd.read_csv('data/gb_access/ttm/ttm_pt_20211122.csv')
# ttm.rename(columns=lambda x: x.replace('travel_time_p0', 'tt_'), inplace=True)
# ttm = ttm.astype(D(fromId=CAT, toId=CAT, tt_25=F16, tt_50=F16, tt_75=F16))
# ttm.to_parquet('data/gb_access/ttm/ttm.parquet', compression='gzip') # 2m35s
ttm = pd.read_parquet('data/gb_access/ttm/ttm.parquet').disp()

95,661,348 rows x 5 cols; Memory: 1283.8 MiB

       fromId        toId      tt_25      tt_50      tt_75
   <category>  <category>  <float16>  <float16>  <float16>
0   S01006506   S01006506        0.0        0.0        0.0

### Runtimes
| City              | Transit (MBP) | Walk (MBP)    | Bike (U5)     | Drive (U5)    |
| -                 | -:            | -:            | -:            | -:            |
| Atlanta           | 4:06          | 3:51          | 28:53         | ?             |
| Austin            | ?             | 1:38          | ?             | 1:21:13       |
| Baltimore         | ?             | 2:41          | ?             | 2:41:37       |
| Boston            |               | 5:48          | ?             | 9:23:34       |
| Bridgeport        |               | 0:41          | ?             | 0:34:45       |
| Buffalo           |               | 0:47          | ?             | 0:21:19       |
| Charlotte         |               | 1:14          | ?             | 1:53:17       |
| Chicago           |               | 13:14         | ?             |               |
| Cincinnati        |               | 0:56          | ?             | ?             |
| Cleveland         |               | 1:19          | ?             | 2:01:55       |
| Columbus          |               | 1:05          | ?             | ?             |
| Dallas            |               | 4:21          | ?             |               |
| Denver            |               | 3:47          | ?             | 5:08:26             |
| Detroit           |               | 3:47          | ?             |               |
| Hartford          |               | 0:45          | ?             | 0:55:22       |
| Houston           |               | 3:38          | ?             |               |
| Indianapolis      |               | 1:25          | 15:20         | ?             |
| Jacksonville      |               | 0:38          | 5:48          | 0:47:37       |
| Kansas City       |               | 1:39          | ?             | 2:44:32       |
| Las Vegas         |               | 1:21          | ?             | 1:17:21       |
| Los Angeles       | 19:08         | 18:06         | 2:22:16       | ?             |
| Louisville        |               | 0:35          | ?             | 0:01:28       |
| Memphis           |               | 0:36          | ?             | 0:36:03       |
| Miami             | 5:30          | 7:12          | 58:38         | ?             |
| Milwaukee         |               | 2:35          | ?             | 1:36:24       |
| Minneapolis       |               | 3:22          | ?             | 6:14:31       |
| Nashville         | 0:44          | 0:42          | 4:34          | ?             |
| New York          |               | 49:49         | ?             |               |
| Oklahoma City     |               | 0:40          | ?             | 0:47:38       |
| Orlando           | 1:00          | 0:54          | 8:17          | ?             |
| Philadelphia      |               | 5:25          | ?             |               |
| Phoenix           | 5:43          | 4:00          | 46:49         | ?             |
| Pittsburgh        |               | 1:13          | ?             | 2:53:15       |
| Portland          | 2:42          | 2:02          | 20:39         | ?             |
| Providence        |               | 0:54          | ?             | 1:05:54       |
| Raleigh           | 1:02          | 0:54          | 6:56          | ?             |
| Richmond          |               | 0:46          | ?             | 0:45:33       |
| Riverside         | 1:33          | 1:33          | 8:37          | ?             |
| Sacramento        | 1:24          | 1:15          | 12:10         | ?             |
| Salt Lake City    | 1:12          | 1:02          | 13:09         | ?             |
| San Antonio       | 1:15          | 0:50          | 6:40          | ?             |
| San Diego         | 2:15          | 1:53          | 14:45         | ?             |
| San Francisco     |               | 3:37          | ?             | 5:09:55       |
| San Jose          | 2:25          | 2:11          | 25:04         | ?             |
| Seattle           | 11:11         | 4:22          | 47:03         | ?             |
| St. Louis         |               | 1:21          | ?             | 3:20:40       |
| Tampa             |               | N/A           | 16:41         | 2:44:14       |
| Tucson            | 1:01          | 0:54          | 9:11          | ?             |
| Virginia Beach    |               | 0:49          | 5:23          | 0:53:29       |
| Washington        | 8:18          | 7:06          | 1:10:46       | ?             |
| **Total**         | **2:18:23**   | **3:01:13**   | **9:27:39**   |               |

In [2]:
zones = gpd.read_parquet('data/zones.parquet')
zones = filt(zones, level='Tract', city='Indianapolis')[['geoid', 'geometry']].disp()

390 rows x 2 cols; Memory: 0.0 MiB; <Geographic 2D CRS: EPSG:4326>

         geoid                                           geometry
      <object>                                         <geometry>
0  18063210300  POLYGON ((-86.506028 39.922912, -86.504141 39....

In [3]:
ses = (filt(pd.read_parquet('../equity_atlas/data/ses/ses.parquet'), level='Tract')
       [['geoid', 'popu', 'pop_density', 'm_income']])
ses.columns = ['geoid', 'population', 'popu_density', 'median_income']
ses.disp();

1,693 rows x 4 cols; Memory: 0.1 MiB

         geoid population popu_density median_income
      <object>  <float32>    <float32>     <float32>
0  18001030100     4826.0    62.160343      0.069376

In [4]:
opport = filt(pd.read_parquet('data/opportunities.parquet'), level='Tract')
opport = (opport[opport.kind.isin(['Jobs: All', 'POIs: All'])]
          .pivot_table('opport', 'geoid', 'kind', observed=1)
          .fillna(0).astype(I32).reset_index().rename_axis(None, axis=1))
opport.columns = ['geoid', 'total_jobs', 'total_pois']
opport.disp();

75,636 rows x 3 cols; Memory: 25.9 MiB

         geoid total_jobs total_pois
    <category>    <int32>    <int32>
0  04001942600          4          0

In [5]:
# access = filt(pd.read_parquet('data/access_long/indianapolis.parquet'),
#               measure='Contour', mode='Drive', thresh='30', level='BG')
# access = (access[access.kind.isin(['Jobs: All', 'POIs: Total'])]
#           .pivot_table('access', 'geoid', 'kind', observed=1)
#           .fillna(0).astype(I32).reset_index().rename_axis(None, axis=1))
# access.columns = ['geoid', 'access_drive_jobs', 'access_drive_pois']
# access.disp();

In [5]:
xs = pd.read_parquet('../equity_atlas/data/_old2/access/access_all.parquet')
xs = filt(xs, measure='Contour', thresh='30', scale='Tract')
xs = xs[xs.kind.isin(['Total jobs', 'All POIs'])]
xs = xs[xs['mode'].isin(['Drive', 'Transit'])]
xs = xs.pivot_table('value', 'geoid', ['mode', 'kind'], observed=1)
xs.columns = ['xs_drive_pois', 'xs_drive_jobs', 'xs_transit_pois', 'xs_transit_jobs']
xs = xs.reset_index().disp()

1,693 rows x 5 cols; Memory: 0.7 MiB

         geoid xs_drive_pois xs_drive_jobs xs_transit_pois xs_transit_jobs
    <category>     <float32>     <float32>       <float32>       <float32>
0  18001030100        3543.0       93720.0             NaN             NaN

In [7]:
indy = zones.merge(ses).merge(opport).merge(xs)
indy = indy[indy.geoid.str[:5] == '18097'].disp()

253 rows x 11 cols; Memory: 0.0 MiB; <Geographic 2D CRS: EPSG:4326>

,geoid,geometry,population,popu_density,median_income,total_jobs,total_pois,xs_drive_pois,xs_drive_jobs,xs_transit_pois,xs_transit_jobs
,<object>,<geometry>,<float32>,<float32>,<float32>,<int32>,<int32>,<float32>,<float32>,<float32>,<float32>
4,18097342300,"POLYGON ((-86.253873 39.721916, -86.253582 39....",6793.0,3272.16333,0.099314,2045,42,22334.0,744810.0,119.0,8731.0

In [8]:
indy.to_parquet('data/_old/shagun_indy_access_tract.parquet')